/* Navigation */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background: rgba(241, 241, 243, 0.8);
  backdrop-filter: blur(10px);
  z-index: 100;
}

.logout-btn {
  background-color: rgb(15, 23, 42);
  color: black;
  border: none;
  outline: none important!;
  background: none;
  cursor: pointer;
  text-decoration: none;
  box-shadow: none;
}

.logout-btn:focus {
  outline: none;
  box-shadow: none;
}

.logout-btn:hover {
  color: #22ca62;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--accent-color)
  );
  -webkit-background-clip: text;
  color: transparent;
}

.nav-links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--accent-color);
}

.login-btn {
  color: black;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

/* Responsive Styles */
@media (max-width: 1245px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    display: none;
    flex-direction: column;
    gap: 1rem;
    background: rgba(15, 23, 42, 0.9);
    padding: 1rem 2rem;
    border-radius: 10px;
    z-index: 200;
  }

  .nav-links a {
    color: white;
  }

  .nav-links.active {
    display: flex;
  }

  .navbar {
    justify-content: space-between;
    padding: 1rem;
    height: 80px;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    cursor: pointer;
  }

  .hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background-color: black;
  }

  .login-btn, .logout-btn {
    color: white;
  }
}
